input[type="checkbox" i] {
    margin: 0;
    outline: none;
    height: 16px;
    width: 16px;
}

input[type="checkbox" i]:hover,
input[type="checkbox" i]:focus {
    box-shadow: 0px 0px 0px 4px rgba(26, 164, 200, .2);
}