.el-input__wrapper {
    height: 34px;
    box-shadow: 0 0 0 1px #afafaf inset !important;
}

.date-picker .el-input__wrapper {
    background: #fff url('../../assets/icon/datepicker-icon.png') no-repeat 190px 10px !important;
    padding: 0 1px;
}

.el-input__wrapper:hover {
    box-shadow: 0 0 0 1px #53bad5 inset !important;
}

.el-input__wrapper:focus {
    box-shadow: 0 0 0 1px #6fc6dc inset !important;
}

.el-input__wrapper:active {
    box-shadow: 0 0 0 1px #c3c3c3 inset !important;
}

.el-input__prefix-inner {
    display: none !important;
}

.date-picker .el-input__suffix-inner {
    display: none !important;
}

.date-picker .el-input__inner {
    padding: 10px;
}

.datepicker--error .el-input__wrapper,
.datepicker--error .el-input__wrapper:hover,
.datepicker--error .el-input__wrapper:focus,
.datepicker--error .el-input__wrapper:active {
    border: 1px solid red !important;
    box-shadow: none !important;
}

.datepicker--disabled .el-input__wrapper:hover {
    box-shadow: 0 0 0 1px #afafaf inset !important;
}

.el-picker-panel__body {
    font-family: Roboto !important;
}