.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.462);
    z-index: 2;
}

.loader {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 8px solid #f3f3f3;     /* Màu background thanh quay */
    border-top: 8px solid #3498db; /* Màu thanh quay */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    z-index: 3;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}