.search {
    position: relative;
}

.search__icon {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -243px -23px;
	width: 18px;
	height: 18px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.search__input {
    outline: none;
    padding: 0 16px 0 40px;
    box-sizing: border-box;
    border-radius: 2.5px;
    border: 1px solid #afafaf;
    width: 179px;
    height: 36px;
    font-size: 14px;
}

.search__input--long {
    width: 300px;
}