/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #d1dae9; 
}
    
/* Handle */
::-webkit-scrollbar-thumb {
    background: #abb6c8; 
    border-radius: 4px;
}

.table-container {
    margin: 0 20px;
    border: 1px solid #afafaf;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    border-radius: 3.5px;
    height: 83vh;
    overflow: auto;
}

.row--selected {
    background-color: rgba(26, 164, 200, .2);
}

.checkbox--selected {
    background-color: rgba(26, 164, 200, .2);
}

.table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    position: relative;
    height: 100%;
    table-layout: fixed;
}

.thead {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    z-index: 1;
}

.thead div, th {
    white-space: nowrap;
}

.thead tr {
    height: 38px;
    color: #001031;
}

.tbody tr {
    height: 40px;
    border-bottom: 1px solid #e9ebee;
    cursor: pointer;
}

.tbody tr:hover {
    background-color: rgba(26, 164, 200, .2);
}

.tfoot {
    position: sticky;
    bottom: 0;
    background-color: #ffffff;
}

.table-function {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tfoot {
    height: 40px;
    background-color: #ffffff;
}

.tfooter-left {
    display: flex;
    align-items: center;
}

.tfooter-text {
    margin: 0 24px 0 16px;
    font-size: 12px;
}

.tfooter-total {
    margin-right: 20px;
}

.tfooter-total select {
    font-size: 11px; 
    padding: 4px 6px;
    border-radius: 2.625px;
    border: 1px solid #afafaf;
    width: 59px;
    height: 25px;
    outline: none;
}

.tfooter-prev {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -22px -241px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.tfooter-page {
    border-radius: 6px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.tfooter-page--selected {
    background-color: #f5f5f5;
    font-weight: bold;
}

.tfooter-next {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -65px -242px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.thead th, .tbody td {
    text-align: left;
    padding: 0 10px;
}

.thead th:first-child {
    padding: 0 10px 0 16px;
    width: 2%;
}
.tbody td:first-child {
    padding: 0 10px 0 16px;
}

.thead th:nth-child(2) {
    text-align: center;
    width: 2%;
}
.tbody td:nth-child(2) {
    text-align: center;
}

.thead th:nth-child(3) {
    width: 7%;
}

.thead th:nth-child(4) {
    width: 13%;
}
.tbody td:nth-child(4) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.thead th:nth-child(5) {
    width: 24%;
}
.tbody td:nth-child(5) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.thead th:nth-child(6) {
    width: 16%;
}
.tbody td:nth-child(6) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.thead th:nth-last-child(5) {
    text-align: right;
    width: 4%;
}
.tbody td:nth-last-child(5) {
    text-align: right;
}

.thead th:nth-last-child(4) {
    text-align: right;
    width: 9%;
}
.tbody td:nth-last-child(4) {
    text-align: right;
}

.thead th:nth-last-child(3) {
    text-align: right;
    width: 9%;
}
.tbody td:nth-last-child(3) {
    text-align: right;
}

.thead th:nth-last-child(2) {
    text-align: right;
    width: 9%;
}
.tbody td:nth-last-child(2) {
    text-align: right;
}

.thead th:last-child {
    text-align: center;
    width: 6%;
}
.tbody td:last-child {
    text-align: center;
}

.tfoot td:nth-last-child(5) {
    text-align: right;
}

.tfoot td:nth-last-child(4) {
    text-align: right;
}

.tfoot td:nth-last-child(3) {
    text-align: right;
}

.tfoot td:nth-last-child(2) {
    text-align: right;
}

.icon-edit {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -156px -68px;
	width: 16px;
	height: 16px;
    cursor: pointer;
}

.icon-duplicate {
    background: url('../../assets/icon/qlts-icon.png') no-repeat -244px -112px;
	width: 16px;
	height: 16px;
    cursor: pointer;
}