.content-menu--white {
    background-color: #fff;
    margin: 0 20px;
}

.content-menu-2--white {
    background-color: #fff;
    margin: 8px 20px 0 20px;
    padding: 0 20px;
}

.table-1 {
    height: 44vh;
}

.table-2 {
    height: 25vh;
}