#app {
    font-family: Roboto !important;
    font-size: 13px;
}

body {
    margin: 0;
}

input::placeholder {
    font-family: Roboto Italic;  
}

@font-face {
    font-family: Roboto;
    src: url('../assets/font/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto Italic;
    src: url('../assets/font/Roboto-Italic.ttf');
}

@font-face {
    font-family: Roboto Bold;
    src: url('../assets/font/Roboto-Bold.ttf');
}

label {
    display: block;
}

.row {
    padding: 10px;
}

.label {
    font-weight: 700;
    margin-bottom: 8px;
}

.mr-10 {
margin-right: 10px;
}

.mr-11 {
    margin-right: 11px;
}

.mr-20 {
    margin-right: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.position-relative {
    position: relative;
}

.background-white {
    background-color: #ffffff;
}

.body {
    flex: 1; 
    background-color: #f4f7ff;
}

/* Chặn trang web tự động tăng chiều cao*/
html, body {
    height: 100%; 
    overflow-y: hidden
}

/* Scrollbar */
/* Kích thước */
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

/* Đường chạy */
::-webkit-scrollbar-track {
    background: #d1dae9; 
}
    
/* Tay cầm */
::-webkit-scrollbar-thumb {
    background: #abb6c8;
}

/* Sửa tooltip của Elemental Plus */
.el-popper.is-light {
    box-shadow: 2px 4px 10px 4px rgb(0 0 0 / 16%) !important;
    font-size: 13px;
}